<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>CHYLab - Experimental Note</title>
		<meta name="Will" content="CHYLab - Experimental Note" />
		<script type="text/javascript" src="index.js"></script>
		<link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<script src="/assets/application.js?body=1" type="text/javascript"></script>
	</head>
	<body>
		<div class="container">
			<div class="noteback">
				<header class="clearfix">
					<h1 class="title-current">Gene Cloning</h1>
				</header>
				<div class="stepback">
				<p>Informations of Gene</p><br>
				<%= form_for(@gene) do |f| %>
			    	<%= f.label :number,"Gene ID"%> 
			        <%= f.text_field :number, :placeholder => "At1g01010" %><br><br>
			        <%= f.label :name,"Gene Name" %>
			        <%= f.text_field :name %><br><br><br>
			    <%end%>
				</div>
			    <div class="stepback">
				<p>Cloning</p><br>
				<%= form_for(@pcr) do |f| %>
			    	<%= f.label :fragment_name,"Name"%> 
			        <%= f.text_field :fragment_name %><br><br>
			        <%= f.label :product_size,"Size" %>
			        <%= f.text_field :product_size, :placeholder => "bp" %><br><br>
			        <%= f.label :fuse,"Protein Fussion"%> 
			        <%= f.text_field :fuse %><br><br><br>
			    <%end%>
				</div>
				<div id = "pcr" class="stepback">
				<p>PCR</p><br>
				
				<%= form_for(@pcr) do |f| %>
					<%= f.label :enzyme %> 
			        <%= f.text_field :enzyme %><br><br>
					<%= f.label :machine %> 
			        <%= f.text_field :machine %><br><br><br>
			        <div id="temp">
			        <%= f.text_field :break, :class => "short"%>°C<br><br>
			        <%= f.text_field :denature, :class => "short"%>°C<br>
			        <%= f.text_field :annealing, :class => "short"%>°C<br>
			        <%= f.text_field :elongation, :class => "short"%>°C<br><br>
			        <%= f.text_field :polya, :class => "short"%>°C<br><br>
			    	</div>
			        <%= f.text_field :cycles, :class => "short",:id => "cycles" %>
			        <%= f.label :cycles, :id => "cyclest" %><br><br><br>
			    <%end%>
				</div>
			    </div>
			</div>
		</div>
	</body>
</html>